<div id="row">
  <h3>Currently Reading</h3>
  <div id="current" class="list-group">
  </div>
</div>

<div id="row">
  <h3>Wish List</h3>
  <div id="wish" class="list-group">
  </div>
</div>

<div id="row">
  <h3>All Finished</h3>
  <div id="read" class="list-group">
  </div>
</div>
