
<h1>My Books</h1>

<h3>Currently Reading</h3>
<ul id="current"></ul>
<br/>

<h3>Wish List</h3>
<ul id="wish"></ul>
<br/>

<h3>All Finished</h3>
<ul id="read"></ul>
<br/>

<h3>Recently Viewed</h3>
<ul id="book_list"></ul>
<br/>
