<img src="http://covers.librarything.com/devkey/<%= KR.libraryKey %>/small/isbn/<%= book.get('isbn') %>"/>
<a data-id="<%= book.get('id') %>" href="#"><%= book.get('title') %></a>
<div id="book_data"></div>