<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h2>Create a New Club</h2>
    <form id="new-book-form">
      <div class="form-group">
        <label for="club-name">Club Name</label>
        <input type="text" class="form-control" name="club[club_name]" id="club-name" placeholder="Club Name">
      </div>

      <div class="form-group">
        <label for="club-type">Club Type</label>
          <br/>
          <input name="club[club_type]" value="family" id="club_club_type_1" type="radio">Family
          <br/>
          <input name="club[club_type]" value="classroom" id="club_club_type_2" type="radio">Classroom
          <br/>
      </div>

    </form>
  </div>
</div>