<h1><%= user.get('first_name') %>'s Profile</h1>
<ul id="user_details"></ul>

<h3><%= user.get('first_name') %>'s Books</h3>
<ul id="books"></ul>

<h3><%= user.get('first_name') %>'s Clubs</h3>
<ul id="clubs"></ul>