<% if logged_in? %>
  <h4 align="right">Happy reading, <%= current_user.first_name %>!</h4>
<% end %>

<div id="kr_pane"></div>
<br/>

<% if !logged_in? %>
<div class="jumbotron">
  <div class="row">
    <div class="col-xs-8">
      <h1>Welcome to KidReads!</h1>
      <p>A place to discover, discuss, and share children's books.</p>
      <form action="<%= session_url %>" method="post">
        <input
           name="authenticity_token"
           type="hidden"
           value="<%= form_authenticity_token %>">
        <input
           id="user_username"
           name="user[username]"
           type="hidden"
           value="demoaccount"
           >
        <input
           id="user_password"
           name="user[password]"
           type="hidden"
           value="kidreads">

        <input role="button" class="btn btn-primary btn-lg" type="submit" value="Click Here for Demo">
      </form>
    </div>
    <div class="col-xs-2">
      <img src="/assets/books.png" style="height:auto; width:auto; max-height:300px;">
    </div>
  </div>
</div>
<% end %>


