<% if (role == 'Parent') { %>
  <button id="my-kids-button" class="btn btn-primary">My Kids</button>
  <button id="my-clubs-button" data-href="/#clubs" class="btn btn-primary">My Clubs</button>
  <button id="new-club-button" class="btn btn-default" data-toggle="modal" data-target="#new-club-modal">Make a New Club</button>
<% } else if (role == 'Kid') { %>
  <button id="my-books-button" data-href="/#books" class="btn btn-primary">My Books</button>
  <button id="my-clubs-button" data-href="/#clubs" class="btn btn-primary">My Clubs</button>
  <button id="find-books-button" class="btn btn-default">Find New Books</button>
<% } else if (role == 'Teacher') { %>
  <button id="my-class-button" class="btn btn-primary">My Class</button>
  <button id="new-class-button" class="btn btn-default" data-toggle="modal" data-target="#new-class-modal">Add a New Class</button>
<% } %>

<script>
$( function() {
    $("button[data-href]").click( function() {
        location.href = $(this).attr("data-href");
    });
});
</script>

<div id="new-club-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">KidReads</h4>
      </div>
      <div id="new-club-modal-body" class="modal-body">
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h2>Make a New Club</h2>
    <form id="new-club-form">
      <div class="form-group">
        <label for="club_name">Club Name</label>
        <input type="text" class="form-control" name="club_name" id="club_name" placeholder="ex: The Von Trapp Family Readers">
      </div>

      <div class="form-group">
        <label for="club-type">Club Type</label>
          <br/>
          <input name="club_type" value="family" id="club_club_type_1" type="radio">Family
          <br/>
          <input name="club_type" value="classroom" id="club_club_type_2" type="radio">Classroom
          <br/>
      </div>

    </form>
  </div>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="new-club-submit" class="btn btn-primary">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->