<ul class="nav nav-pills">
  <li><h3><a href="/"><span class="glyphicon glyphicon-book"></span> KidReads</button></a></h3></li>
  <% if(!KR.currentUserID) { %>
    <li><a href="/users/new">Create Account</a></li>
    <li><a href="/session/new">Sign In</a></li>
  <% } else { %>  
    <li><a href="/#users/<%= KR.currentUserID%>">My Profile</a></li>
    <div class="col-xs-6 col-xs-offset-3">
    <li>
      <form id="searchbox" action="/search/query" method="GET">
        <label for="filter">Filter by: </label>
        <input type="radio" name="filter" value="title" checked>Title
        <input type="radio" name="filter" value="author">Author
        <input type="text" name="q" name="query">
        <input type="submit" value="Search">
      </form>
    </li>
    </div>
  <% } %>
</ul>
<!-- Submits -->

<script>
</script>