<!-- Buttons -->

<button id="new-account-button" class="btn btn-primary">Create Account</button>
<button id="sign-in-button" class="btn btn-primary">Sign In</button>

<!-- Submits -->

<script>
  $('#new-account-button').click(function() {
   window.location = "/users/new";
  });
  $('#sign-in-button').click(function() {
    window.location = "/session/new";
  })
</script>