<!-- Buttons -->

<button id="new-account-button" class="btn btn-primary">Create Account</button>
<button id="account-settings-button" class="btn btn-primary" data-toggle="modal" data-target="#account-settings-modal">My Account</button>

<!-- Modals -->

<div id="account-settings-modal" class="modal fade">
<%= render "layouts/modal_header" %>
      <div class="modal-body">
        <p>User Update Form Goes Here</p>
      </div>
<%= render "layouts/modal_footer" %>


<!-- Submits -->

<script>
  $('#new-account-button').click(function() {
   window.location = "/users/new";
});
</script>